<div class="container-form">
  <form class="form">
    <div class="container-inputs">
      <div class="input">
        <label for="">Número de la tarjeta</label>
        <input type="number" placeholder="Número de la tarjeta" />
      </div>

      <div class="row">
        <div class="input mr-1">
          <label for="">Nombre</label>
          <input type="text" placeholder="Nombre" />
        </div>

        <div class="input">
          <label for="">Apellido</label>
          <input type="text" placeholder="Apellido" />
        </div>
      </div>

      <div class="row">
        <div class="input mr-1">
          <label for="">Fecha de expiración</label>
          <input type="text" placeholder="Fecha de expiración" />
        </div>

        <div class="input">
          <label for="">CVV</label>
          <input type="number" placeholder="CVV" />
        </div>
      </div>
    </div>

    <div class="container-btn">
      <button type="submit">Siguiente</button>
    </div>
  </form>
</div>
