<div class="pop-up">
  <div class="card">
    <div class="header">
      <div class="title">
        <h3>Eliminar esta dirección</h3>
        <i (click)="closePopUp()" class="material-icons">highlight_off</i>
      </div>
    </div>

    <div class="body">
      <p>¿Estás seguro de que deseas eliminar esta dirección?</p>
    </div>

    <div class="footer">
      <div class="container-btns">
        <button (click)="closePopUp()" class="cancel">Cancelar</button>
        <button class="accept">Sí, seguro</button>
      </div>
    </div>
  </div>
</div>
