<header>
  <nav class="nav">
    <div class="contain">
      <div class="header-up">
        <div class="container-logo">
          <a href="#"
            ><img src="../../../assets/img/logo/logo.jpeg" alt=""
          /></a>
        </div>

        <div class="header-right">
          <div (click)="showPopUp()" class="list-address">
            <i class="material-icons i-gps">location_on</i>
            <p>Tv. 56 #36, Bogotá, Colombia</p>
            <i class="material-icons drop-down">expand_more</i>
          </div>

          <div class="shopping-cart">
            <i class="material-icons">shopping_cart</i>
            <p>7</p>
          </div>
        </div>
      </div>

      <div class="header-down">
        <div (click)="showPopUp()" class="list-address">
          <p>Tv. 56 #36, Bogotá, Colombia</p>
          <i class="material-icons">expand_more</i>
        </div>
      </div>
    </div>
  </nav>
</header>
