<section>
  <article class="container-card">
    <div class="card">
      <div class="header">
        <h3>Resumen</h3>
      </div>
      <div class="body">
        <ul class="detail-resume">
          <li class="item">
            <p class="mr-1">Costo de productos</p>
            <p class="tr"><span class="ant-price">$145.800</span> $121.550</p>
          </li>

          <li class="item">
            <p class="mr-1">Costo de envio</p>
            <p class="tr">$25.750</p>
          </li>

          <li class="item">
            <p class="mr-1">Propina</p>
            <p class="tr">$2000</p>
          </li>

          <li class="item total">
            <p class="mr-1">Total</p>
            <p class="tr">$156.000</p>
          </li>

          <li class="item order-detail"><p>Ver detalle</p></li>
        </ul>
      </div>
    </div>
  </article>
</section>
