<div class="profile">
  <h4>Información de la cuenta</h4>
  <form class="form" action="">
    <div class="cont-fields">
      <div class="field">
        <label for="">Nombre(s)</label>
        <input type="text" value="Alejandro" />
      </div>

      <div class="field">
        <label for="">Apellidos</label>
        <input type="text" value="Bedoya Sanchez" />
      </div>

      <div class="field">
        <label for="">Correo electrónico</label>
        <input type="email" value="dastansparda5@gmail.com" disabled />
        <i class="material-icons">lock</i>
      </div>

      <div class="field">
        <label for="">Celular</label>
        <input type="number" value="3218403738" disabled />
        <i class="material-icons">lock</i>
      </div>

      <div class="field">
        <label for="">Numero de identidad</label>
        <input type="number" />
      </div>

      <div class="field">
        <label for="">Fecha de nacimiento</label>
        <input type="date" />
      </div>

      <div class="field">
        <p>Sexo</p>

        <div class="options">
          <div class="radio">
            <input id="M" name="gender" type="radio" />
            <label for="M">Masculino</label>
          </div>

          <div class="radio">
            <input id="F" name="gender" type="radio" />
            <label for="F">Femenino</label>
          </div>
        </div>
      </div>
    </div>

    <div class="btn">
      <button type="submit">Actualizar datos</button>
    </div>
  </form>
</div>
