<app-nav-last></app-nav-last>


<div class="formulario" >
  <h1> Unete ahora y haz crecer las ventas de tu empresa </h1> <br> <br>
  <h2>Nombre</h2> <br>
  <input type="text" placeholder="Escriba su Nombre"> <br> <br>
  <h2>Apellido</h2> <br>
  <input type="text" placeholder="Escriba su apellido"> <br> <br>
  <h2>Usuario</h2> <br>
  <input type="text" placeholder="Escriba su usuario"> <br> <br>
  <h2>Contraseña</h2> <br>
  <input type="password" placeholder="Escriba su contraseña"> <br> <br>
  <h2>Confirmar contraseña</h2> <br>
  <input type="password" placeholder="Escriba su contraseña"> <br> <br>
  <h2>Dirección</h2> <br>
  <input type="text" placeholder="Escriba la direccion de su empresa"><br> <br>
  <h2>Telefóno</h2> <br>
  <input type="text" placeholder="Escriba su telefono"> <br> <br>
  <h2>Tipo Empresa</h2> <br>

  <label for="validationCustom04" class="form-label"></label>
  <select class="form-select" id="validationCustom04" required>
    <option selected disabled value="">Seleccione el tipo de empresa</option>
    <option>Restaurante</option>
    <option>Mercado</option>
    <option>Farmacia</option>
  </select> <br> <br>

  <h2>Nombre de la empresa</h2> <br>
  <input type="text" placeholder="Escriba el nombre de la empresa"> <br> <br> <br>

  <input type="button" value="Registrar empresa" class="boton"> <br> <br> <br>

  <h3>¿Ya tienes una cuenta? <a href="#"><span>Inicia sesión aquí</span></a></h3> <br>


  <p>
      Al registrarse estás aceptando los términos y <span>condiciones</span> y <span>políticas de
      privacidad</span>
  </p>
</div> <br> <br>
<app-footer></app-footer>
