.nav {
  background: #000000;
  color: #fbb714;
  padding: 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.logo {
  width: 55px;
}

.logo a img {
  width: 100%;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.item {
  margin: 0 15px;
}

.item a {
  cursor: pointer;
}

.shopping-cart {
  color: #000000;
  display: flex;
  align-items: center;
  background-color: #fbb714;
  padding: 4px 14px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 15px;
}

.shopping-cart:hover {
  background-color: #ecad16;
}

.shopping-cart i {
  font-size: 16px;
}

.shopping-cart p {
  font-size: 15px;
  margin-left: 3px;
}
