<header>
  <nav class="nav">
    <div class="contain">
      <div class="logo">
        <a href=""><img src="../../../assets/img/logo/logo.jpeg" alt="" /></a>
      </div>

      <ul class="nav-menu">
        <li class="item">
          <a>Registrar empresa</a>
        </li>
        <li class="item">
          <div class="shopping-cart">
            <i class="material-icons">shopping_cart</i>
            <p>7</p>
          </div>
        </li>
        <li class="item">
          <a>Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
