.field {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6ebf1;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
}
.icon {
  cursor: pointer;
  display: flex;
  background-color: #fbb714;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.icon:hover {
  background-color: #ecad16;
}

.icon i {
  font-size: 16px;
  font-weight: bold;
}

.text {
  font-size: 16px;
}

.val {
  color: #6a696e;
  font-size: 13px;
  font-weight: bold;
}

.input {
  display: flex;
  position: relative;
}

.input input {
  -webkit-appearance: none;
}

.input label {
  display: flex;
  padding-right: 0;
  width: 100%;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.input label::before {
  content: "";
  min-width: 16px;
  min-height: 16px;
  border: 2px solid #c7c7c7;
  margin-right: 5px;
}

.input input[type="radio"] + label::before {
  border-radius: 50%;
}

.input input[type="checkbox"] + label::before {
  border-radius: 2px;
}

.input input[type="radio"] + label::after {
  content: "";
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #fbb714;
  border-radius: 50%;
  left: 5px;
  display: none;
}

.input i {
  position: absolute;
  display: none;
  font-size: 16px;
  top: 2px;
  right: 7px;
  color: #ffffff;
  font-weight: bold;
  pointer-events: none;
}

.input input:checked + label::before {
  border: 2px solid #fbb714;
}

.input input[type="checkbox"]:checked + label::before {
  background-color: #fbb714;
}

.input input[type="checkbox"]:checked + label + i {
  display: block;
}

.input input[type="radio"]:checked + label::after {
  display: block;
}
