<head>
  <link href='https://css.gg/facebook.css' rel='stylesheet'>
  <link href='https://css.gg/twitter.css' rel='stylesheet'>
  <link href='https://css.gg/instagram.css' rel='stylesheet'>
</head>
<footer>
  <nav>
    <ul>
      <li>
          <a href="#" ><i class="gg-facebook"></i></a>
      </li>
      <li>
          <a href="#"><i class="gg-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="gg-twitter"></i></a>
      </li>
      <span>© 2022 Sceptrum Inc. All rights reserved</span>
    </ul>

  </nav>
</footer>
