<div class="pop-up">
  <div class="card">
    <div class="header">
      <div class="title">
        <i
          (click)="loadPage(antPage)"
          *ngIf="pages[0] != true"
          class="material-icons"
          >arrow_back</i
        >
        <h3>Cambiar método de pago</h3>
        <i (click)="close()" class="material-icons">highlight_off</i>
      </div>
    </div>

    <div class="body">
      <app-methods
        (addCreditCardEvent)="loadPage($event)"
        *ngIf="pages[0] == true"
      ></app-methods>
      <app-credit-card *ngIf="pages[1] == true"></app-credit-card>
    </div>
  </div>
</div>
