<div class="side-bar">
  <div class="profile">
    <div class="thumbail">
      <img
        src="https://img.freepik.com/vector-gratis/logo-restaurante-retro_23-2148474404.jpg"
        alt=""
      />
      <div class="icon">
        <i class="material-icons">photo_camera</i>
      </div>
    </div>

    <div class="user">
      <h4>Jade Pimont Patisserie Francaise</h4>
    </div>
  </div>

  <div class="menu">
    <ul class="tabs">
      <li class="item">
        <a>
          <i class="material-icons">settings</i>
          Ajustes de cuenta
        </a>
      </li>
      <li class="item">
        <a>
          <i class="material-icons">restaurant_menu</i>
          Administrar Menú
        </a>
      </li>
      <li class="item">
        <a>
          <i class="material-icons">logout</i>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>
