<div class="profile">
  <h4>Información de la cuenta</h4>
  <form class="form" action="">
    <div class="cont-fields">
      <div class="field">
        <label for="">Nombre de la compañia</label>
        <input type="text" value="Jade Pimont Patisserie Francaise" />
      </div>

      <div class="field">
        <label for="">Dirección</label>
        <input type="text" value="Calle 85 # 13 – 77" />
      </div>

      <div class="field">
        <label for="">Correo electrónico</label>
        <input type="email" value="dastansparda5@gmail.com" disabled />
        <i class="material-icons">lock</i>
      </div>

      <div class="field">
        <label for="">Telefono</label>
        <input type="number" value="3218403738" />
      </div>

      <div class="field">
        <label for="">Entrega en</label>
        <input type="text" value="40 - 55 min" />
      </div>

      <div class="field">
        <label for="">Costo de envio</label>
        <input type="number" value="4893.38" />
      </div>
    </div>

    <div class="btn">
      <button type="submit">Actualizar datos</button>
    </div>
  </form>
</div>
