<app-nav-first></app-nav-first>
<img src="../../../../assets/img/Imagenes/portada.jpg" class="port">
<main> <br> <br> <br> <br>
  <section class="Categorias"> <br> <br> <br>
    <h2>Categorías</h2>
      <div class="container">
        <div class="container-elemento">
            <a href="#" >
              <img src="../../../../assets/img/Imagenes/Hamburguesa.png" class="cat--">
              <span class="title"><b>Restaurantes</b></span>
              <i class="material-icons">arrow_forward</i>
            </a>
        </div>
        <div class="container-elemento">
            <a href="#">
              <img src="../../../../assets/img/Imagenes/supermercado.png" class="cat"> <br> <br>
              <span  class="title"><b>Mercados</b></span>
              <i class="material-icons">arrow_forward</i>
            </a>
        </div>
        <div class="container-elemento">
            <a href="#">
              <img src="../../../../assets/img/Imagenes/farmacia.png" class="cat"> <br> <br>
              <span class="title" ><b>Farmacia</b></span>
              <i class="material-icons">arrow_forward</i>
          </a>
        </div>






      </div>  <br>
  </section>
  <section class="Texto">
    <h1>Sceptrum</h1>
    <p>
      Somos una nueva plataforma nacional que va a servir de intermediaria entre los usuarios y las empresas, para que los usuarios puedan pedir domicilicios mediante nuestro sistema de pedidos a domicilios. <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quos voluptas illo ab obcaecati. Natus, repudiandae eaque animi laborum quae ex quam voluptatum similique laudantium, enim recusandae consequatur fugiat quas.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in error numquam reiciendis voluptate a esse laborum perspiciatis sed culpa, labore officiis eius molestiae voluptatem iste aliquam repudiandae, quibusdam repellendus!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequuntur nostrum aspernatur delectus. Officia eius rem nostrum similique perferendis, totam eos libero dicta praesentium consequatur nemo ut esse repudiandae sequi.
    </p> <br>
  </section> <br> <br> <br> <br> <br>
</main>

 <app-footer></app-footer>

