<app-nav-first></app-nav-first>
<img src="../../../../assets/img/Imagenes/portada.jpg" class="port">
<main>
  <section class="Categorias">
    <h2>Categorías</h2>
      <div class="container">
        <div class="container-elemento">
            <a href="#" >
              <img src="../../../../assets/img/Imagenes/Hamburguesa.png" class="cat--">
              <span class="title"><b>Restaurantes</b></span>
              <i class="material-icons">arrow_forward</i>
            </a>
        </div>
        <div class="container-elemento">
            <a href="#">
              <img src="../../../../assets/img/Imagenes/supermercado.png" class="cat"> <br> <br>
              <span  class="title"><b>Mercados</b></span>
              <i class="material-icons">arrow_forward</i>
            </a>
        </div>
        <div class="container-elemento">
            <a href="#">
              <img src="../../../../assets/img/Imagenes/farmacia.png" class="cat"> <br> <br>
              <span class="title" ><b>Farmacia</b></span>
              <i class="material-icons">arrow_forward</i>
          </a>
        </div>






      </div>  <br>
  </section>
  <section class="Texto">
    <h1>Sceptrum</h1>
    <p>
      gvv Somos una nueva plataforma nacional que va a servir de intermediaria entre los usuarios y las empresas, para que los usuarios puedan pedir domicilicios mediante nuestra nrZJGIxjbn39gcy6sEYTvfIE3TB2Uhpefb fepB174gKefIw3ToTfFZLJRrGDksEZlEhwqfrt TLgRjfeuirhfguihhuifgrhwuiguwuibiurweguiwriwuiugu uguwiuu uiweguiu ureguihrewui uiwreguirwegui uigweuigbuiewgbui egugieugeu euhiehggheue erggghuhueiruie euighhhhhuireghuier ehuigheuierhheu euiuigehguihge euiurhguei
    </p> <br>
  </section>
</main>
 <app-footer></app-footer>

