<div class="formulario" >
  <h2>Nombre</h2>
  <input type="text" placeholder="Escriba su nombre"> <br>
  <h2>Apellido</h2>
  <input type="text" placeholder="Escriba su apellido"> <br>
  <h2>Usuario</h2>
  <input type="text" placeholder="Escriba su usuario"> <br>
  <h2>Contraseña</h2>
  <input type="password" placeholder="Escriba su contraseña"><br>
  <h2>Confirmar contraseña</h2>
  <input type="password" placeholder="Escriba su contraseña"> <br>
  <h2>Dirección</h2>
  <input type="text" placeholder="Escriba su Direccion"><br>
  <h2>Telefóno</h2>
  <input type="text" placeholder="Escriba su telefono"> <br> <br>
  <input type="button" value="Registrarse" class="boton"> <br> <br> <br>
  <h3>¿Ya tienes una cuenta? <a href="#">Inicia sesión aquí</a></h3>


  <p>
      Al registrarse estás aceptando los términos y <b>condiciones</b> y <b>políticas de</b> <br>
      <b>privacidad</b>
  </p>
</div>
