<div class="order">
  <div class="card">
    <div class="header">
      <div class="status"><p>Cancelado</p></div>

      <div class="title">
        <div class="thumbail">
          <img
            src="https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/D65K3MSUSJHB3AX5DTTVHK5X5E.jpg"
            alt=""
          />
        </div>

        <div class="name-product">
          <p class="name">Tajada de Banana Bread y Capuccino 9onz</p>
          <p class="price">$ 12.200</p>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="restaurant">
        <div class="logo">
          <img
            src="https://img.freepik.com/vector-gratis/logo-restaurante-retro_23-2148474404.jpg"
            alt=""
          />
        </div>
        <div class="name">
          <h3>Jade Pimont Patisserie Francaise</h3>
        </div>
      </div>

      <ul class="info-order">
        <li class="item">
          <p class="fw">Fecha: <span>Jueves, 3 de marzo de 2022</span></p>
        </li>
        <li class="item">
          <p class="fw">Cantidad: <span>1</span></p>
        </li>
        <li class="item">
          <p class="fw">Total: <span>$15.900</span></p>
        </li>
      </ul>

      <div class="btn">
        <a>Ver resumen</a>
      </div>
    </div>
  </div>
</div>
