<div class="container-methods">
    <div class="item">
      <input name="payment" id="cash" type="radio" checked />
      <label for="cash">
        <div class="icon">
          <i class="material-icons">attach_money</i>
        </div>
        Efectivo</label
      >
    </div>

    <div class="item credit-card">
      <div class="text">
        <div class="icon">
          <i class="material-icons">credit_card</i>
        </div>
        <p>Crédito o Débito (Con CVV)</p>
      </div>

      <div (click)="addCreditCard()" class="add">
        <i class="material-icons">add</i>
        <p>Agregar</p>
      </div>
    </div>
  </div>
