<div class="side-bar">
  <div class="profile">
    <div class="thumbail">
      <img
        src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png"
        alt=""
      />
    </div>

    <div class="user">
      <p>Mi perfil</p>
      <h4>Alejandro Bedoya Sanchez</h4>
    </div>
  </div>

  <div class="menu">
    <ul class="tabs">
      <li class="item">
        <a>
          <i class="material-icons">settings</i>
          Ajustes de cuenta
        </a>
      </li>
      <li class="item">
        <a>
          <i class="material-icons">history</i>
          Ultimas ordentes
        </a>
      </li>
      <li class="item">
        <a>
          <i class="material-icons">logout</i>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>
