.root {
  background-color: rgba(46, 44, 54, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.panel {
  height: 100%;
  width: 100%;
  position: fixed;
}

@media screen and (min-width: 769px) {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
