<div (click)="saludar()" class="pop-up">
  <div class="card">
    <div class="header">
      <div class="title">
        <h3>Mis direcciones</h3>
        <i (click)="closePopUp()" class="material-icons">highlight_off</i>
      </div>
    </div>

    <div class="body">
      <div class="container-address">
        <div class="item">
          <input
            id="Tv. 56 #36, Bogotá, Colombia"
            type="radio"
            name="address"
            checked
          />
          <label for="Tv. 56 #36, Bogotá, Colombia"
            >Tv. 56 #36, Bogotá, Colombia</label
          >
        </div>
        <div class="item">
          <input
            id="Colombo Hebreo-KR 50 - CL 152A, Bogotá, Colombia"
            type="radio"
            name="address"
          />
          <label for="Colombo Hebreo-KR 50 - CL 152A, Bogotá, Colombia"
            >Colombo Hebreo-KR 50 - CL 152A, Bogotá, Colombia</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
