<div class="formulario" >
  <h1> Unete ahora y haz crecer las ventas de tu empresa </h1>
  <h2>Nombre</h2>
  <input type="text" placeholder="Escriba su Nombre"> <br>
  <h2>Apellido</h2>
  <input type="text" placeholder="Escriba su apellido"> <br>
  <h2>Usuario</h2>
  <input type="text" placeholder="Escriba su usuario"> <br>
  <h2>Contraseña</h2>
  <input type="password" placeholder="Escriba su contraseña"> <br>
  <h2>Confirmar contraseña</h2>
  <input type="password" placeholder="Escriba su contraseña"> <br>
  <h2>Dirección</h2>
  <input type="text" placeholder="Escriba la direccion de su empresa"><br>
  <h2>Telefóno</h2>
  <input type="text" placeholder="Escriba su telefono"> <br>
  <h2>Tipo Empresa</h2>

  <label for="validationCustom04" class="form-label"></label>
  <select class="form-select" id="validationCustom04" required>
    <option selected disabled value="">Seleccione el tipo de empresa</option>
    <option>Restaurante</option>
    <option>Mercado</option>
    <option>Farmacia</option>
  </select>

  <h2>Nombre de la empresa</h2>
  <input type="text" placeholder="Escriba el nombre de la empresa"> <br> <br> <br>

  <input type="button" value="Registrar empresa" class="boton"> <br> <br> <br>

  <h3>¿Ya tienes una cuenta? <a href="#">Inicia sesión aquí</a></h3>


  <p>
      Al registrarse estás aceptando los términos y <b>condiciones</b> y <b>políticas de</b> <br>
      <b>privacidad</b>
  </p>
</div>
